{% if is_granted('ROLE_ADMIN') %}

	<div id="admin_navbar">
		<ul class="menu">
			<li><a href={{ path('users' ) }}>System users</a></li>
			<li><a href={{ path('divisions' ) }}>Divisions</a></li>
			<li><a href={{ path('teams' ) }}>Teams</a></li>
			<li><a href={{ path('games' ) }}>Game schedule</a></li>
		</ul>
	</div>

{% else %}

	<div id="admin_navbar">
		<ul class="menu text_center">
			<li><a href={{ path('games' ) }}>Game schedule</a></li>
		</ul>
	</div>

{% endif %}
