{% extends 'LjmsGeneralBundle:Include:basetemplate.html.twig' %}
{% block title %}LJMS{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/roles.js') }}" type="text/javascript"></script>
{% endblock %}

{% block centre%}
<div class="column full_width">
	<div class="content">
	{% include 'LjmsGeneralBundle:Admin/Include:admin_menu.html.twig' %}
		<h2 class="title_admin">{% block page_name %}{% endblock %}</h2>
		{{ form_start(form, {'attr': {'id': 'add_user', 'autocomplete': "off"}}) }}
		<div class="alert-error">
			{{ form_errors(form.username) }}
			{{ form_errors(form.last_name) }}
			{{ form_errors(form.address) }}
			{{ form_errors(form.city) }}
			{{ form_errors(form.states_id) }}
			{{ form_errors(form.zipcode) }}
			{{ form_errors(form.email.first) }}
			{{ form_errors(form.email.second) }}
			{{ form_errors(form.home_phone) }}
			{{ form_errors(form.cell_phone) }}
			{% block passwordError%}{% endblock %}
			{{ form_errors(form.alt_phone) }}
			{{ form_errors(form.alt_first_name) }}
			{{ form_errors(form.alt_last_name) }}
			{{ form_errors(form.alt_email) }}
			{{ form_errors(form.alt_phone_2) }}
			{{ form_errors(form.divisions) }}
		</div>
		<div class="add_form">
		<h3 class="title_form">User information</h3>
			<div class="form-group">
				<div class="hilf_width_col">
					<div class="hilf_width_col">{{ form_label(form.username, 'First Name *')}}</div>
					<div class="hilf_width_col">{{ form_widget(form.username) }}</div>
				</div>
				<div class="hilf_width_col">
					<div class="hilf_width_col">{{ form_label(form.last_name, 'Last Name *')}}</div>
					<div class="hilf_width_col">{{ form_widget(form.last_name) }}</div>
				</div>
			</div>
			<div class="form-group">
				<div class="hilf_width_col">
					<div class="hilf_width_col">{{ form_label(form.address, 'Address *')}}</div>
					<div class="hilf_width_col">{{ form_widget(form.address) }}</div>
				</div>
				<div class="hilf_width_col">
					<div class="hilf_width_col">{{ form_label(form.city, 'City *')}}</div>
					<div class="hilf_width_col">{{ form_widget(form.city) }}</div>
				</div>
			</div>
			<div class="form-group">
				<div class="hilf_width_col">
					<div class="hilf_width_col">{{ form_label(form.states_id, 'State *')}}</div>
					<div class="hilf_width_col">{{ form_widget(form.states_id) }}</div>
				</div>
				<div class="hilf_width_col">
					<div class="hilf_width_col">{{ form_label(form.zipcode, 'Zipcode *')}}</div>
					<div class="hilf_width_col">{{ form_widget(form.zipcode) }}</div>
				</div>
			</div>
			<div class="form-group">
				<div class="hilf_width_col">
					<div class="hilf_width_col">{{ form_label(form.email.first, 'Email *')}}</div>
					<div class="hilf_width_col">{{ form_widget(form.email.first) }}</div>
				</div>
				<div class="hilf_width_col">
					<div class="hilf_width_col">{{ form_label(form.home_phone, 'Home Phone *')}}</div>
					<div class="hilf_width_col">{{ form_widget(form.home_phone) }}</div>
				</div>
			</div>
			<div class="form-group">
				<div class="hilf_width_col">
					<div class="hilf_width_col">{{ form_label(form.email.second, 'Email Confirm')}}</div>
					<div class="hilf_width_col">{{ form_widget(form.email.second) }}</div>
				</div>
				<div class="hilf_width_col">
					<div class="hilf_width_col">{{ form_label(form.cell_phone, 'Cell Phone')}}</div>
					<div class="hilf_width_col">{{ form_widget(form.cell_phone) }}</div>
				</div>
			</div>
			<div class="form-group">
				<div class="hilf_width_col">
					{% block passwordfield%}{% endblock %}
				</div>
				<div class="hilf_width_col">
					<div class="hilf_width_col">{{ form_label(form.alt_phone, 'Alternative Phone')}}</div>
					<div class="hilf_width_col">{{ form_widget(form.alt_phone) }}</div>
				</div>
			</div>
  
			<div class="form-group">
				<div class="hilf_width_col">
					{% block passwordrepeatfield%}{% endblock %}
				</div>				
			</div>			
		</div>
		<div class="add_form">
		<h3 class="title_form">Alt Contact</h3>
			<div class="form-group">
				<div class="hilf_width_col">
					<div class="hilf_width_col">{{ form_label(form.alt_first_name, 'First Name')}}</div>
					<div class="hilf_width_col">{{ form_widget(form.alt_first_name) }}</div>
				</div>
				<div class="hilf_width_col">
					<div class="hilf_width_col">{{ form_label(form.alt_last_name, 'Last Name')}}</div>
					<div class="hilf_width_col">{{ form_widget(form.alt_last_name) }}</div>
				</div>
			</div>
			<div class="form-group">
				<div class="hilf_width_col">
					<div class="hilf_width_col">{{ form_label(form.alt_email, 'Email')}}</div>
					<div class="hilf_width_col">{{ form_widget(form.alt_email) }}</div>
				</div>
				<div class="hilf_width_col">
					<div class="hilf_width_col">{{ form_label(form.alt_phone_2, 'Alt Phone')}}</div>
					<div class="hilf_width_col">{{ form_widget(form.alt_phone_2) }}</div>
				</div>
			</div>
		</div>

		<div class="add_form">
		<h3 class="title_form">User Roles</h3>
			<div class="form-group">
				<div class="hilf_width_col">
					<div class="hilf_width_col">
						{{ form_label(rolesForm.roles, 'Assign Roles')}}
					</div>
					<div class="hilf_width_col">
						{{ form_widget(rolesForm.roles) }}
						{{ form_widget(form.roles) }}
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="hilf_width_col">
					<div class="hilf_width_col">
						{{ form_label(rolesForm.divisions, 'Assign Divisions') }}
					</div>
					<div class="hilf_width_col">
						{{ form_widget(rolesForm.divisions) }}	
						{{ form_widget(form.divisions) }}					
					</div>
				</div>
				<div class="hilf_width_col">
					<div class="hilf_width_col">
						{{ form_label(rolesForm.teams, 'Assign Teams')}}
					</div>
					<div class="hilf_width_col">
						{{ form_widget(rolesForm.teams) }}
						<br/>
						{{ form_widget(form.teamsCoachs) }}
						{{ form_widget(form.teamsManagers) }}								
					</div>
				</div>
			</div>
				<table style="display: none">
					{% include 'LjmsGeneralBundle:Admin/Include:role_block.html.twig' %}
				</table>
				<table class="user_roles">
					<thead>
						<tr>
							<th class="quarter"><p>Current Roles</p></th>
							<th class="quarter"><p>Division</p></th>
							<th class="quarter"><p>Team</p></th>
							<th class="quarter"></th>
						</tr>
					</thead>
					<tbody>
						{% block userRoles %}{% endblock %}

						
					</tbody>
				</table>
				<a class="add_role_btn">Add Role</a>
			</div>
		<div class="text_center">
			{{ form_widget(form.save) }}
		</div>

		{{ form_end(form) }}
</div>
</div>
{% endblock %}