<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

		{% block stylesheets %}
			<link href="{{ asset('css/reset.css') }}" rel="stylesheet" />
			<link href="{{ asset('css/style.css') }}" rel="stylesheet" />
		{% endblock %}

		{% block javascripts %}
			<script type="text/javascript">var class_name = '{% block class %}{% endblock %}';</script>
			<script type="text/javascript">var baseUrl = '{{ app.request.getBaseURL() }}';</script>			
			{% javascripts
			    'js/libraries/jquery-1.9.1.min.js'
			    'js/libraries/jquery.validate.js'
			    'js/massAction.js'
			    'js/validation.js'
			    'js/delete.js' %}
			    <script src="{{ asset_url }}"></script>
			{% endjavascripts %}
		{% endblock %}

		<title>{% block title %}{% endblock %}</title>
		<!--[if IE 7]>
			<link href="{{ asset('css/ie7.css') }}" rel="stylesheet" />
		<![endif]-->
	</head>
	<body>
		<div id="container">
			<div id="header">
				<a href="{{ path('ljms_general_homepage') }}"><div id="logo"></div></a>

				<div id="auth_area">
					{% if is_granted('ROLE_ADMIN') %}
						<a href="{{ path('logout') }}">Log out</a>
					{% endif %}
				</div>

				{% include 'LjmsGeneralBundle:Include:menu.html.twig' %}
			</div>

			<div id="content">
				{% block leftsidebar%}{% endblock %}
				{% block centre%}{% endblock %}
				{% block rightsidebar%}{% endblock %}
			</div>

			<div id="footer">
				{% include 'LjmsGeneralBundle:Include:menu.html.twig' %}			
				<p>Copyright 2008 Lockport Junior Miss Softball</p>
			</div>
		</div>
	</body>
</html>

