{% extends 'LjmsGeneralBundle:Admin/Include:user_form.html.twig' %}
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">var userId = '{{ id }}';</script>
{% endblock %} 
{% block page_name %}Edit User{% endblock %}

{% block passwordError%}
	{{ form_errors(form.newpassword.first) }}
	{{ form_errors(form.newpassword.second) }}
{% endblock %}

{% block passwordfield%}
	<div class="hilf_width_col">{{ form_label(form.newpassword.first, 'Password *')}}</div>
	<div class="hilf_width_col"> {{ form_widget( form.newpassword.first ) }}</div>
{% endblock %}

{% block passwordrepeatfield%}
	<div class="hilf_width_col">{{ form_label(form.newpassword.second, 'Password Confirm')}}</div>
	<div class="hilf_width_col">{{ form_widget(form.newpassword.second) }}</div>
{% endblock %}
{#
{% block userRoles %}

	{% for entity in roles.director %}
		<tr class="roles_block">
			<td class="quarter"><p>Director</p></td>
			<td class="quarter"><p>{{ entity.name }}</p></td>
			<td class="quarter"><p></p></td>
			<td class="quarter">
				<p>
					<input type="hidden" value="2" name="role">
					<input type="hidden" value={{ entity.id }} name="div">
					<a href="#delete_role" class="button" data-item-id={role_to_user_id} class="delete">Del Role</a>
				</p>
			</td>
		</tr>
	{% endfor %}

	{% for entity in roles.coach %}
		<tr class="roles_block">
			<td class="quarter"><p>Coach</p></td>
			<td class="quarter"><p>{{ entity.divisionName }}</p></td>
			<td class="quarter"><p>{{ entity.name }}</p></td>
			<td class="quarter">
				<p>
					<input type="hidden" value="3" name="role">
					<input type="hidden" value={{ entity.id }} name="team">
					<a href="#delete_role" class="button" data-item-id={role_to_user_id} class="delete">Del Role</a>
				</p>
			</td>
		</tr>

	{% endfor %}

	{% for entity in roles.manager %}

		<tr class="roles_block">
			<td class="quarter"><p>Manager</p></td>
			<td class="quarter"><p>{{ entity.divisionName }}</p></td>
			<td class="quarter"><p>{{ entity.name }}</p></td>
			<td class="quarter">
				<p>
					<input type="hidden" value="4" name="role">
					<input type="hidden" value={{ entity.id }} name="team">
					<a href="#delete_role" class="button" data-item-id={role_to_user_id} class="delete">Del Role</a>
				</p>
			</td>
		</tr>

	{% endfor %}

{% endblock %}
#}